<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="160" />
    <param name="image_height" value="120" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
  </node>
  <node name="image_view_2" pkg="image_view" type="image_view" respawn="false" output="screen" args="_image_transport:=compressed">
    <remap from="image" to="/camera/image" />
  </node>
  <sphinxdoc><![CDATA[  


.. image:: launch/images/image1.png
  :width: 200

.. image:: launch/images/image2.jpeg
  :width: 400
   ]]></sphinxdoc>
</launch>


