# Travis Continuous Integration Configuration File, based on ..
language: java
jdk: oraclejdk7
env:
  - ROS_DISTRO=hydro ROSWS=wstool BUILDER=catkin
#notifications:
#  email:
#    recipients:
#      - roseus@jsk.t.u-tokyo.ac.jp
#    on_success: always #[always|never|change] # default: change
#    on_failure: always #[always|never|change] # default: always
before_install: # Use this to prepare the system to install prerequisites or dependencies
  # Define some config vars
  - export CI_SOURCE_PATH=$(pwd)
  - export REPOSITORY_NAME=${PWD##*/}
  - echo "Testing branch $TRAVIS_BRANCH of $REPOSITORY_NAME"
  - sudo sh -c 'echo "deb http://packages.ros.org/ros/ubuntu precise main" > /etc/apt/sources.list.d/ros-latest.list'
  - wget http://packages.ros.org/ros.key -O - | sudo apt-key add -
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y python-catkin-pkg python-rosdep python-wstool ros-$ROS_DISTRO-catkin ros-$ROS_DISTRO-ros python-rosinstall ros-$ROS_DISTRO-rosjava
  # Setup rosdep
  - sudo rosdep init
  - rosdep update
install: # Use this to install any prerequisites or dependencies necessary to run your build
  # Setup for android
  - cd ~
#  - wget http://dl.google.com/android/studio/install/0.4.2/android-studio-bundle-133.970939-linux.tgz
#  - tar xvzf android-studio-bundle-133.970939-linux.tgz
#  - export PATH=$PATH:~/android-studio/sdk/tools:~/android-studio/sdk/platform-tools:~/android-studio/bin
#  - export ANDROID_HOME=~/android-studio/sdk
  - export COMPONENTS=build-tools-18.1.1,android-13,sysimg-13,extra
  - curl -L https://raw.github.com/embarkmobile/android-sdk-installer/master/android-sdk-installer | bash /dev/stdin --install=$COMPONENTS
  - source ~/.android-sdk-installer/env
  - export TERM=dumb # to get clean gradle output
  # Create workspace
  - mkdir -p ~/ros/ws_$REPOSITORY_NAME/src
  - cd ~/ros/ws_$REPOSITORY_NAME/src
  - $ROSWS init .
  - $ROSWS merge file://$CI_SOURCE_PATH/.rosinstall
  - if [ $ROSWS = rosws ] ; then $ROSWS merge /opt/ros/$ROS_DISTRO/.rosinstall; fi
  - $ROSWS update -j10
  - if [ $ROSWS = rosws ] ; then $ROSWS set --git $REPOSITORY_NAME https://dummy.com/dummy -y; fi
  - ln -s $CI_SOURCE_PATH . # Link the repo we are testing to the new workspace
  - cd ../
  # merge for android
  - $ROSWS init -j4 ~/ros/ws_$REPOSITORY_NAME/src https://raw.github.com/rosjava/rosjava/hydro/android_core.rosinstall
  - $ROSWS init -j4 ~/ros/ws_$REPOSITORY_NAME/src https://raw.github.com/rosjava/rosjava/hydro/android_apps.rosinstall
  # Install dependencies for source repos
  - find -L src -name package.xml -exec dirname {} \; | xargs -n 1 -i find {} -name manifest.xml | xargs -n 1 -i mv {} {}.deprecated
  - rosdep install -r -n --from-paths src --ignore-src --rosdistro $ROS_DISTRO -y
  - find -L src -name manifest.xml.deprecated | xargs -n 1 -i dirname {} | xargs -n 1 -i ln -sf `pwd`/{}/manifest.xml.deprecated `pwd`/{}/manifest.xml
  - if [ $BUILDER = rosbuild ]; then source src/setup.sh; rosdep install -a -y -n -r; fi
  - if [ $ROS_DISTRO = groovy ]; then sudo apt-get install ros-$ROS_DISTRO-visualization-msgs ros-$ROS_DISTRO-common-tutorials ros-$ROS_DISTRO-navigation ros-$ROS_DISTRO-audio-common; fi
before_script: # Use this to prepare your build for testing e.g. copy database configurations, environment variables, etc.
  - source /opt/ros/$ROS_DISTRO/setup.bash
  - export CATKIN_PACKAGES="`find $CI_SOURCE_PATH -name package.xml | xargs -n 1 dirname | xargs -n 1 basename`"
script: # All commands must exit with code 0 on success. Anything else is considered failure.
  - cd ~/ros/ws_$REPOSITORY_NAME
  - if [ $BUILDER = rosbuild ]; then source src/setup.sh; cd src; fi
  - rospack profile
  - if [ $BUILDER = catkin ]; then catkin_make -j4; else rosmake $BUILD_PACKAGES --profile --pjobs=4 --disable-logging; fi
  - if [ $BUILDER = catkin ]; then if [ "$CATKIN_PACKAGES" != "" ]; then catkin_make test --pkg $CATKIN_PACKAGES; fi; else (cd `rospack find pr2eus`; make test); rosmake $BUILD_PACKAGES --test-only --disable-logging; fi
  - if [ $BUILDER = catkin ]; then catkin_make install; fi
  - if [ $BUILDER = catkin ]; then rm -fr devel src build; source install/setup.bash; else source setup.sh; fi
after_failure:
  - if [ -e ./build/Testing/Temporary/LastTest.log ]; then cat ./build/Testing/Temporary/LastTest.log; fi
  - find ${HOME}/.ros/test_results -type f -exec echo "== {} ==" \; -exec cat {} \;
  - for file in ${HOME}/.ros/log/rostest-*; do echo "=== $file ==="; cat $file; done
