<launch>
  <arg name="ROBOT" default="$(env ROBOT)" />
  <arg name="USE_NODELET" default="false" />
  <arg name="POINTS_NODELET_MANAGER" default="/kinect_head/openni_nodelet_manager" />
  <arg name="IMAGE_NODELET_MANAGER" default="/kinect_head/openni_nodelet_manager" />
  <include file="$(find pr2_machine)/$(arg ROBOT).machine" />
  <group unless="$(arg USE_NODELET)">
    <node pkg="topic_tools" type="mux" output="screen"
          name="mux_for_image" respawn="true"
          machine="c2"
          args="image_input_mux
/kinect_head_c2/rgb/image_color
/wide_stereo/right/image_color
/wide_stereo/left/image_color
/narrow_stereo/right/image_mono
/narrow_stereo/left/image_mono
/r_forearm_cam/image_mono
/l_forearm_cam/image_mono
/camera/image ">
      <remap from="mux" to="image_mux"/>
      <param name="lazy" value="true"/>
    </node>
    <node pkg="topic_tools" type="mux" output="screen"
          name="mux_for_camera_info" respawn="true"
          machine="c2"
          args="camera_info_input_mux
/kinect_head_c2/rgb/camera_info
/wide_stereo/right/camera_info
/wide_stereo/left/camera_info
/narrow_stereo/right/camera_info
/narrow_stereo/left/camera_info
/r_forearm_cam/camera_info
/l_forearm_cam/camera_info
/camera/camera_info ">
      <remap from="mux" to="camera_info_mux"/>
      <param name="lazy" value="true"/>
    </node>

    <node pkg="topic_tools" type="mux" output="screen"
          name="mux_for_points" respawn="true"
          args="points_input_mux
/kinect_head/depth_registered/points_throttle
/tilt_laser_cloud2 ">
      <remap from="mux" to="points_mux"/>
      <param name="lazy" value="true"/>
    </node>
  </group>

  <!-- USE NODELET -->
  <group if="$(arg USE_NODELET)">
    <node pkg="nodelet" type="nodelet"
          name="image_mux" respawn="true"
          args="load jsk_topic_tools/MUX $(arg IMAGE_NODELET_MANAGER)"
          output="screen" clear_params="true">
      <rosparam subst_value="True">
        topics: ["/kinect_head/rgb/image_color", "/wide_stereo/right/image_color", "/wide_stereo/left/image_color", "/narrow_stereo/right/image_mono", "/narrow_stereo/left/image_mono", "/r_forearm_cam/image_mono", "/l_forearm_cam/image_mono", "/camera/image"]
      </rosparam>
      <remap from="~output" to="/image_input_mux" />
    </node>
    <node pkg="nodelet" type="nodelet"
          name="camera_info_mux" respawn="true"
          args="load jsk_topic_tools/MUX $(arg IMAGE_NODELET_MANAGER)"
          output="screen" clear_params="true">
      <rosparam subst_value="True">
        topics: ["/kinect_head/rgb/camera_info", "/wide_stereo/right/camera_info", "/wide_stereo/left/camera_info", "/narrow_stereo/right/camera_info", "/narrow_stereo/left/camera_info", "/r_forearm_cam/camera_info", "/l_forearm_cam/camera_info", "/camera/camera_info"]
      </rosparam>
      <remap from="~output" to="/camera_info_input_mux" />
    </node>

    <node pkg="nodelet" type="nodelet"
          name="points_mux" respawn="true"
          args="load jsk_topic_tools/MUX $(arg POINTS_NODELET_MANAGER)"
          output="screen" clear_params="true">
      <rosparam subst_value="True">
        topics: ["/kinect_head/depth_registered/points_throttle", "/tilt_laser_cloud2"]
      </rosparam>
      <remap from="~output" to="/points_input_mux" />
    </node>
  </group>
</launch>
