<launch>
  <node name="kinect_image_throttle" pkg="topic_tools" type="throttle"
        args="messages /camera/rgb/image_rect_color/compressed 10.0" />
  <node name="tablet_receiver_for_ipad" pkg="jsk_smart_gui"
        type="tablet_receiver.l" output="screen" respawn="true"
	args="(execute-main)" >
    <param name="~ray_srv" value="/pointcloud_screenpoint_nodelet/screen_to_point"/>
  </node>

  <sphinxdoc><![CDATA[
  jsk_android_gui: tap, pinch and sweep and use multi fingers to manipulate the Robots.
  Avaiable on Google Play.
  ]]></sphinxdoc>
</launch>